<div id="signup" class="credentialBlk">
  <h1>
    <%=image_tag "pencilIcon-lg.png"%></br>
    Sign Up for Tutonic
  </h1>
  <div class="fbConnect">
    <span>* We don't post anything without your permission.</span>
    <%=link_to "Facebook", "#", :class=>"fb"%>
    <p class="orLink">OR</p>
  </div>
  <div><%=link_to "Create an account using my email address", "#", :class=>"createAccLnk"%></div>
  <div class="holder">
    <div class="greyOutline">&nbsp;</div>
    <div class="blueBkg">
      <!-- <div class="signupSection">
        <%#= render 'form' %>
      </div> -->
      <div class="loginSection">
        <label class="label">Already a Tutonic member?</label>
        <%=link_to (content_tag :span, "Login Now!"), {}, :class=> "loginBtn"%>
      </div>
    </div>
  </div>
</div>
